#arti-section{
  padding-top: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 8vh;
}

#arti-section .header {
  margin-bottom: 5vh;
}

#timing{  
  width: 100vw;
  display: flex;
}

#timing-container {
  border: 1px solid black;
  margin: 20px;
}

#timing-container h3{
  font-size: 2vw;
}

#timing-container .text-box1{
  padding: 8px;
  background: #E67E22;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
#timing-container .text-box2{
  padding: 8px;
  background: #229159;
  display: flex;
  justify-content: center;
  align-items: center;
}
#timing-container .text-box3{
  padding: 8px;
  background: #EB2D4D;
  display: flex;
  justify-content: center;
  align-items: center;
}
#timing-container .img img{
  height: 16vw;
  width: 100%; 
}

@media (max-width:700px){
  #arti-section{
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
  }
  
  
}

@media (max-width:600px){
  #arti-section{
    height: 120vh;
  }
  #arti-section h1{
    text-align: center;
  }
  #timing{
    height: 100%;
    flex-direction: column;
    gap: 10px;
  }
  #timing-container .img img{
    width: 90vw;
    height: 100%;
  }

}