.nav {
  height: 22.5vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #f2e499;
  box-shadow: 0px 5px 20px #040404;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15px;
  top: 0%;
  z-index: 100;
  font-family: bdf;
  font-size: 1.1em;
}

.goto-top {
  cursor: pointer;
  position: fixed;
  right: 10%;
  bottom: 10%;
  width: 7vh;
  height: 7vh;
  background-color: #e67e22;
  text-align: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}

.left1 {
  padding-right: 20px;
  display: flex;
  gap: 10px;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #000;
  font-weight: 500;
}

.contact .left {
  display: flex;
  gap: 20px;
}

.nav-added {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.arrow-icon {
  margin-left: 4px;
}

.contact .s-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.nav .logo img {
  height: 11vh;
  margin-right: 4vw;
}

.nav .logo h1 {
  font-family: mont;
  font-size: 2.4em;
  margin-bottom: 0.5vh;
  letter-spacing: 2px;
}

.nav .logo p {
  color: #304052;
}

.hb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.emblem-tag {
  text-align: center;
}

.emblem-tag h2 {
  font-weight: 500;
}

.menu-icon {
  display: none;
}

.hb .navigation-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

#links {
  font-size: 1rem;
  font-weight: 600;
  font-family: ltf;
}

#home {
  background: #e67e22;
  padding: 5px 15px;
  border-radius: 2px;
}

.navigation-buttons a {
  padding: 5px 5px;
}

.navigation-buttons li {
  display: block;
}

.navigation-buttons li:hover .nav-dropdown {
  display: block;
}


.nav-dropdown {
  display: none;
  position: absolute;
  background: #f7f7b9;
  margin-top: 5px; 
  border-radius: 5px;
  box-shadow: 5px 5px 20px #040404;
}

.nav-dropdown li {
  padding-bottom: 0.3em;
  padding-right: 1vw;
}

.nav-dropside {
  display: none;
  position: absolute;
  left: 100%;
  top: -1%;
  background: #f7f7b9;
  box-shadow: 5px 5px 20px #040404;
  margin-top: 5px; 
  border-radius: 5px;
  width: 100%;
}

.nav-dropside-left {
  display: none;
  position: absolute;
  right: 100%;
  top: -1%;
  background: #f7f7b9;
  box-shadow: 5px 5px 20px #040404;
  margin-top: 5px; 
  border-radius: 5px;
  width: 100%;
}

.nav-dropside-left-2 {
  display: none;
  position: absolute;
  right: 100%;
  top: -1%;
  background: #f7f7b9;
  box-shadow: 5px 5px 20px #040404;
  margin-top: 5px; 
  border-radius: 5px;
}

.nav-dropdown a {
  display: block;
  width: 100%;
}

.nav-dropdown li:hover .nav-dropside {
  display: block;
}

.nav-dropdown li:hover .nav-dropside-left {
  display: block;
}

.nav-dropside-left li:hover .nav-dropside-left-2 {
  display: block;
}

.navigation-buttons a:hover {
  background: #e67e22;
  /* transition: all 0.5s ease-in-out; */
  color: #fff;
}

.navigation-active {
  background: #e67e22;
  border-radius: 20px;
}





.navigation-bar {
  display: flex;

}

.navigation-bar li {
  display: block;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 4px;
}

.navigation-bar li:hover {
  background: #e67e22;
  border-radius: 20px;
}

.navigation-bar li:hover .nav-dropdown {
  display: block;
}


@media only screen and (max-width: 991px) {
  .navigation-bar {
    display: none;
  }
  
  .resp-navigation-bar {
    display: block;
    flex-direction: column;
    background: #f7f7b9;
    width: 100%;
  }
  .resp-navigation-bar li{
    padding-left: 10vw;
  }

  .nav-dropdown {
    display: block;
    position: relative;
  }

  .nav-dropside {
    display: block;
    position: relative;
    left: 0;
    top: 0;
  }
}





@media (max-width:991px) {
  .nav {
    height: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hb {
    align-items: default;
  }

  .nav h1 {
    font-size: 1.5em;
  }

  .nav p, .nav h2 {
    display: none;
  }

  .contact {
    display: none;
  }

  .navigation-buttons {
    display: none;
  }
  #links>li{
    display: none;
  }

  .extended-nav{
    height: 40vh;    
    z-index: 99;
    animation: 0.5s ease;
  }
  
  .extended-nav #links{
    flex-direction: column;
    gap: 2px;
  }

  .extended-nav #links li{
    display: flex;
    font-size: 2vw;
    flex-direction: column;
  }
  
  .nav .logo img {
    height: 4vw;
  }

  .menu-icon {
    display: block;
  }

  .nav .logo {
    padding: 0 30px;
    width: 100vw;
    height: 6vh;
    justify-content: space-between;
  }

}

@media (max-width:600px){
  .hb .logo img{
    height: 3vh;
  }
  
}