.nav {
  height: 26.5vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #f7f7b9;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15px;
  position: sticky;
  top: 0%;
  z-index: 100;
}

.nav a {
  text-decoration: none;
  color: black;
}

.left1 {
  padding-right: 20px;
  display: flex;
  gap: 10px;
  border-right: 2px dotted black;
}

.left2 {
  display: flex;
  gap: 10px;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #000;
  font-weight: 500;
}

.contact .left {
  display: flex;
  gap: 20px;
}

.contact .s-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.nav .logo img {
  height: 9vh;
  margin-right: 2vw;
}

.hb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emblem-tag {
  text-align: center;
}

.emblem-tag h2 {
  font-weight: 500;
}

.menu-icon {
  display: none;
}

.hb .navigation-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

#links {
  font-size: 1rem;
  font-weight: 600;
  font-family: ltf;
}

#home {
  background: #e67e22;
  padding: 5px 15px;
  border-radius: 2px;
}

.navigation-buttons a {
  padding: 5px 5px;
}

.navigation-buttons li {
  display: block;
}

.navigation-buttons li:hover .nav-dropdown {
  display: block;
}


.nav-dropdown {
  display: none;
  position: absolute;
  background: #f7f7b9;
  margin-top: 5px; 
  border-radius: 5px;
}

.nav-dropdown li {
  padding-bottom: 0.3em;
  padding-right: 1vw;
}

.nav-dropdown a {
  display: block;
  width: 100%;
}

.navigation-buttons a:hover {
  background: #e67e22;
  border-radius: 2px;
  /* transition: all 0.5s ease-in-out; */
  color: #fff;
}






@media (max-width:991px) {
  .nav {
    height: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hb {
    align-items: default;
  }

  .nav h1 {
    font-size: 1.5em;
  }

  .nav p, .nav h2 {
    display: none;
  }

  .contact {
    display: none;
  }

  .navigation-buttons {
    display: none;
  }
  #links>li{
    display: none;
  }

  .extended-nav{
    height: 40vh;    
    z-index: 99;
    animation: 0.5s ease;
  }
  
  .extended-nav #links{
    flex-direction: column;
    gap: 2px;
  }

  .extended-nav #links li{
    display: flex;
    font-size: 2vw;
    flex-direction: column;
  }
  
  .nav .logo img {
    height: 4vw;
  }

  .menu-icon {
    display: block;
  }

  .nav .logo {
    padding: 0 30px;
    width: 100vw;
    height: 6vh;
    justify-content: space-between;
  }

}

@media (max-width:600px){
  .hb .logo img{
    height: 3vh;
  }
  
}