	.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2vw;
	margin-bottom: 2vw;
}

.center img {
	margin-bottom: 2vw;
	width: 15vw;
}

.gallery-header {
	margin-top: 5vh;
	font-family: mont;
	font-size: 1.3em;
	border-bottom: 1px solid black;
	letter-spacing: 3px;
}

.appeal-long-header {
	margin: 0 15vw;
	text-align: justify;
}

.content {
	max-width: 60%;
	padding-left: 19%;
	padding-right: 21%;
	letter-spacing: 0.5px;
	word-spacing: 2px;
	font-size: 1.1em;
	text-align: justify;
}

.content-2 {
	max-width: 60%;
	letter-spacing: 0.5px;
	word-spacing: 2px;
	font-size: 1.1em;
	text-align: justify;
}

.content h1 {
	letter-spacing: 1px;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	font-size: 2.5em;
}

.content h3 {
	text-align: center;
}

.content p {
	padding: 2vh;
	font-family: bdf;
	font-size: 1.2em;
}

.center iframe {
	margin-top: 1vw;
	width: 80vw;
	height: 100vh;
}

.gallery-2 iframe {
	width: 40vw;
}

#tan-img img {
	padding-top: 5vh;
	width: 100%;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(3, auto);
}


.gallery-2 {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 40px;
}

.gallery-4 {
	display: grid;
	grid-template-columns: repeat(4, auto);
	margin: 4vw;
	margin-top: 0px;
	gap: 20px;
}

.gallery img, .gallery-4 img {
	width: 90%;
	margin: 2vw;
	border: 1px solid black;
}

.gallery-hl {
	background-color: #fac184;
}

.highlight {
	color: #c51605;
	font-size: 1.1em;
}

.document-download {
	color: white;
	background-color: #c51605;
	padding: 1.5vh 1.5vw;
	text-decoration: none;
	border-radius: 12px;
	margin-top: 2vw;
	font-size: 1.2em;
}

.document-download:hover {
	background-color: #d92015;
}

.visit-us-page {
	padding: 5vh 20vw;
}

@media only screen and (max-width: 991px) {
	.content {
		max-width: 90%;
	}
}