.split h1 {
	color: black;
}

.split h2 {
	font-style: italic;
}

.split {
	display: flex;
}

.split p {
	font-family: bdf;
	font-size: 1.2em;
}

.split div {
	margin: 2em;
}

.split .content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.accordian {
	background-color: #f7f7b9;
	cursor: pointer;
	width: 100%;
	outline: none;
	border: none;
	text-align: left;
	font-size: 1.5em;
	color: #c51605;
}

.accordian i {
	margin-right: 1vw;
}

.panel {
	max-height: 0;
	margin: 1em !important;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

@media (max-width: 991px) {
	.split {
		display: block;
		justify-content: center;
	}

	.split img {
		width: 100%;
	}

	.split .content {
		max-width: 90%;
	}
}
