.split h1 {
	color: black;
}

.split h2 {
	font-style: italic;
}

.split {
	display: flex;
}

.split p {
	font-family: bdf;
	font-size: 1.2em;
}

.split div {
	margin: 2em;
}

.split .content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#sign2 {
  font-family: bdf;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 10vw;
  margin-right: 10vw;
	margin-bottom: 5vh;
  line-height: 1.8;
  background-color: #f7b86e;
  color: #000;
  border: 2px solid #000;
	border-radius: 20px;
	word-spacing: 4px;
}

#sign2 p {
  padding: 8px;
  font-size: 1.4em;
  font-weight: 500;
  text-align: justify;
}

#sign2 p#signright {
	text-align: right;
}

.accordian {
	display: flex;
	justify-content: space-between;
	background-color: inherit;
	cursor: pointer;
	width: 100%;
	outline: none;
	border: none;
	text-align: left;
	font-size: 1.5em;
	color: #c51605;
	font-family: roboto;
	letter-spacing: 1.9px;
	padding: 2px;
}

.accordian i {
	margin-right: 1vw;
}

.panel {
	max-height: 0;
	margin: 1em !important;
	margin-bottom: 2em !important;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	border-bottom: 1px solid black;
}

@media (max-width: 991px) {
	.split {
		display: block;
		justify-content: center;
	}

	.split img {
		width: 100%;
	}

	.split .content {
		max-width: 90%;
	}
}
