* {
  margin: 0;
  padding: 0;
}
body{
  background: #fff0b5;
}
h1 {
  color: #c51605;
}
@font-face {
  font-family: ltf;
  src: url(./Assets/source-sans-pro.light.ttf);
}
@font-face {
  font-family: bdf;
  src: url(./Assets/font_latin.woff2);
}
@font-face {
  font-family: mont;
  src: url(./Assets/Montserrat-Medium.ttf);
}
@font-face {
  font-family: roboto;
  src: url(./Assets/RobotoCondensed-Regular.ttf);
}
body {
  overflow-x: hidden;
}
